MONGO_URL=mongodb://localhost:27017
DB_NAME=comparteia_prod
CORS_ORIGINS=https://comparteia.com,https://www.comparteia.com
PORT=8080
JWT_SECRET=07626e42ad11facb2a96f503acdf41325fa36968b317e111658831b1def7f203
ADMIN_USERNAME=pzsuave
ADMIN_PASSWORD=MXmedia007!
